/claude-webext-patcher.exe
**/.git/
!/.git/
.idea
/Tests/
/Claude-WebExt-Launcher.exe
/builds/

# Local build artifacts and logs
bin/
claude_safe_debug.log
# macOS
.DS_Store
.DS_Store?
/copy_macos.ps1
/resources/rcodesign.exe
